@mixin afterEffect {
    position: absolute;
    top: 0;
    left:0;
    content: "";
    display: flex;

}
.error{
    font-size: 0.75rem;
    color: black;
    font-weight: 700;
}
.testing{
    border: solid #343a40;
    border-radius: 0.5rem;
}
.input__group{
}
.form{
    &__row{
        width: 80%;
    margin: 1.25em 0 1.25rem 0;
    &.toggled{
    }
    }
    &__column{
        position: relative;
        width: 0%;
        transition: all ease-in-out 0.5s;
        flex-direction: column;
        align-items: center;
        padding: 4rem 2rem 4rem 2rem;
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 10;
        &::after{
            background-color:#343a40;
            content: '';
            display: flex;    
        position: absolute;
        top: 0;
        transition: all ease-in-out 0.5s;
        left:0;
        height: 100%;
        width: 100%;
        clip-path: circle(15.0% at 100% 50%);
    }
        &.toggled{
            transition: all ease-in-out 0.5s;
            width: 100%;
            z-index: 1;
            position: relative;
            background-color: #343a40;
        &::after{
            content: '';
            display: flex;    
        position: absolute;
        top: 0;
        transition: all ease-in-out 0.5s;
        left:0;
        height: 100%;
        background-color: white;
        width: 0%;
        clip-path: none;
        z-index: 0;


        }
        }
        &__welcome{
            padding: 4rem 2rem 4rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0rem 0.4rem 0.4rem 0;
        background-color: #343a40;
    &::after{
        height: 100%;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        content: '';

    }
    &.toggled{
        position: relative;
        background-color: transparent;
        width: 0%;
        transition: all ease-in-out 1s;
        z-index: 5;
    &::after{
        background-color:#343a40;
        content: '';
        display: flex;    
    position: absolute;
    top: 0;
    transition: all ease-in-out 0.5s;
    left:0;
    height: 100%;
    width: 100%;
    //clip-path: polygon(0 17%, 0 57%, 17% 38%);
    clip-path: circle(15.0% at 0 49%);

}
    
    }
    }
    }
}
.form{
&__createaccount{
    display: none;
    width: 0%;
    transition: all ease-in-out 0.5s;
&.toggled{
    width: 100%;
    transition: all ease-in-out 0.5s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
}
&__input{
&.toggled{
    display: none;
}
}

    &__login{
        display: none;
        &.toggled{
            display: flex;
            flex-direction: column;
        }
    }
    &__heading{
        color: white;
        font-size: 2rem;
        &.toggled{
            //color: #343a40;
        }
    }
    &__paragraph{
        font-size: 1rem;
        color: white;
    &.toggled{
        //color: #343a40;
    }
    }
    &__welcome{
        &.toggled{
            display: none;
        }
    &__login{
    &.toggled{
        display: none;
    }
    }
    }

}