@use '../../globalSass/app' as *;
.Dashboard{
    display: flex;
    flex-direction: column;
    }
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: darken($primary-color, 20%);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lighten($third-color, 25%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 61, 61);
  }
.container{
    &__columnaz{
        padding: 0 !important;
        margin: 0 !important;
    }
    &__tabcontent{

    }
    &__row{
        background-color: $third-color;
    }
    &__column__tabcontent{
        border-left: solid $sixth-color !important;

    }
    &__alltabs{
    }

    &__first{
        height: auto !important;
        //border: solid orange !important;
        //flex-direction: column;
        //padding: 0 !important;
        //border: solid yellow !important;
    }

&__column__userbar{
    //border: solid orange !important;
    background-color: lighten($third-color, 5%) !important;
}
&__tabpane{
    &__search{
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: darken($third-color, 1%);
        height: 100vh;
    }
    &__notifications{
        overflow-y: hidden;
    height: 100vh;
    }
    &__friends{
        height: 100vh;
        overflow-y: scroll;
        background-color: lighten($third-color, 0%);
    }
    &__videochat{
        height: 100vh;
        overflow-y: scroll;
        background-color: lighten($third-color, 0%);

    }
}

    &__image{
        background-color: $third-color;
        margin: 1rem 0 1rem 0rem;
        padding: 0rem 0rem 0rem 0rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__first{
        padding: 0 !important;
        margin: 0 !important;
        height: 100vh;
        background-color: $third-color;
        //padding: 0rem !important;
        //border-right: solid whitesmoke 3px;
        transition: all ease-in-out 0.5s;
    }
    &__tabpane{
        flex-direction: row;
        height: 100%;
        margin: 0rem !important;
        padding: 0 !important;
        background-color: $third-color;
    }
 
}

.container{

&__icon{
    width: 100%;
    margin: 1.5rem 0rem 0.5rem 0rem;
    //background-color: lighten($third-color, 5%);
    align-items: center;
    display: flex;
    justify-content: flex-end;
    transition: all ease-in-out 0.5s;

&.toggled{
    transition: all ease-in-out 0.5s;
    justify-content: center;

}
}

}
.icon{
    border-radius: 50%;
    font-size: 1.5rem;
    color: $primary-color;
    &.toggled{
        font-size: 1rem;
    }
    &__div{
        //border: solid $primary-color;
        display: flex;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        background-color: lighten($third-color, 10%);
        border-radius: 50%;
    &.toggled{
        height: 2.5rem;
        width: 2.5rem;
        transition: all ease-in-out 0.5s;
    }
}
&:hover{
    cursor: pointer;
    color: darken($primary-color, 25%);
    font-size: 1.5rem;
    transition: all ease-in-out 0.25s;
}
}