@use '../main.scss' as *;
.container{
    &__card{
        box-shadow: 0 0 3px 0 $sixth-color;
        border-radius: 0.5rem;
        //background-color: $third-color;
       z-index: 5;      
       margin: 0.5rem 0 0.5rem;
    
       &:nth-child(1){
        border: solid orange !important;
        box-shadow: 0 0 3px 0 gray;
    }
}
    &__icon{
    }
    &__title{

    }
    &__paragraph{

    }
}
.title{
    margin: 0.75rem 0 0.75rem 0;
font-size: 1.75rem;
font-weight: 700;
//color: $sixth-color;
color: $third-color;
}
.paragraph{
    color: $third-color;

    //color: $sixth-color;
    text-align: left;
font-size: 0.9rem;
}
.icon{
    color: $third-color;

//    color: $sixth-color;
    font-size: 3rem;
    animation: iconbounce 4s ease-in-out infinite;
    transition: all ease-in-out 0.5s;

}
@keyframes iconbounce {
    0% {
        transform: translate(0, 0);
        transition: all ease-in-out 0.5s;

    }
    50% {
        transform: translate(0, -1rem);
        transition: all ease-in-out 0.5s;
    
    }

100% {
    transform: translate(0, 0);
    transition: all ease-in-out 0.5s;

}

}