@use '../main.scss' as * ;

@mixin afterEffect {
    position: absolute;
    top: 0;
    left:0;
    content: "";
    display: flex;

}

.column{
    &__one{
        padding: 0 !important; 
        display: flex;
        border-radius: 0.35rem;
        box-shadow: 0 1px 3px 0 $third-color;
        //border: solid lighten($third-color, 15%);
    }
}

.container{
    &__formheading{
        border-radius: 0.35rem 0 0 0.35rem;
        position: relative;
        height: 100%;
        width: 100%;
        &::after{
            position: absolute;
            top: 0;
            left:0;
            z-index: 1000;
            width: 100%;
            content: '';
            height: 100%;
            display: flex;
        }
    }
    &__form{
        padding: 10rem 0rem 10rem 1rem;
        border-radius: 0rem 0.35rem 0.36rem 0rem;
        z-index: -2;
    }
    &__section{
        //border: solid orange !important;
        z-index: 500;
        border: solid $sixth-color 3px;
        background-repeat: no-repeat;
        border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;
        //box-shadow: 0 0 3px 0 $third-color;
        background-image: url('../../images/finalform.svg');
        background-size: contain;
        position: relative;
    &::after{
        background-size: contain;
height: 100%;
z-index: -1;
width: 100%;
opacity: 0.15;
        position: absolute;
        top:0;
        left:0;
        content: '';
        display: flex;
    }
    }
}

.form{
    &__row{
        width: 50%;
        padding: 0.5rem 0 0.5rem 0;
    }
    &__paragraph{
        color: $sixth-color;
    }
    &__title{
        color: $third-color;
        font-size: 2.5rem;
        font-weight: 600;
    &.createaccount{
        border-bottom: solid $fourth-color;
        color: $sixth-color;
    }
    }
    &__input{
    &::after{

    }
    }
    &__image{
        position: absolute;
        top:0;
        left:0;
        height: auto;
        width: 40%;
    }

}