@use '../main.scss' as *;

.columnaz{
    @media(min-width:320px){
    }
}
.icon{
    font-weight: 500;
    font-size: 3rem;
    color: $sixth-color;
&__container{
    display: flex;
    background-color: $third-color;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: solid $third-color;
    border-radius: 50%;
&:hover{
    cursor: pointer;
    color: $sixth-color;
    border: lighten($third-color, 10%);
    background-color: lighten($third-color, 10%);
}
}
&__text{
    @media(min-width: 320px){
    }
    text-transform: capitalize;
    font-weight: 700;
    //background-color: $third-color;
    color: $third-color;
    //padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 0 0 1rem;
}
}
.container{
   
&__signup{
}

&__column{
    @media(min-width: 320px){
        display: none;
        background-image: none;
    }
    @media(min-width: 526px){
        display: none;
    }
    @media(min-width: 768px){
        background-position: top right;
        display: flex;
        background-image: url('../../images/Picture8.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: relative !important;
        overflow-y: hidden;


    }
    //border: solid green !important;
}
&__text{
    @media(min-width: 320px){
        border-radius: 0.5rem;
        background-position: top;
        align-items: flex-end;
        padding: 5rem 0 5rem 0;
    }
    @media(min-width: 526px){
        background-image: none;
    }
}
}

.text{
    &__header{
        @media(min-width:320px) {
            color: $sixth-color;
            text-align: center;
            font-size: 2.5rem;
            font-weight: 700;
            position: relative;
            padding: 0rem 0 1.5rem 1rem;
        }
        
        @media(min-width: 576px){
            color: $third-color;
            text-align: left;
            font-size: 2.75rem;
            

        }
        @media(min-width: 992px){
            color: $third-color;
        }
        @media(min-width: 1200px){
            font-size: 3em;
            color: $third-color;
        }
&::after{
    @media(min-width:320px){
        position: absolute;
bottom: 0;
left:20%;
display: flex;
content: '';
background-color: $sixth-color;
z-index: -5;
height: 5px;
width: 50%;
    }

    @media(min-width:576px){
        background-color: $third-color;
        left: 5%;
    }

}
    }
    &__paragraph{
        @media(min-width: 320px){
            padding: 0 1rem 0 1rem;
            font-weight: 300;
            color: $sixth-color;
            letter-spacing: 1px;
            text-align: center;
            font-size: 0.85rem;
            }
        @media(min-width: 526px){
            font-size: 1.05rem;
            text-align: left;
            font-weight: 400;

            color: $third-color;
        }
        @media(min-width: 768px){
            font-size: 1.15rem;
        }
        @media(min-width: 992px){
            font-size: 1.25rem;
        }
        @media(min-width: 1200px){
            font-size: 1.25rem;
        }
    }
    &__button{

    &:hover{
        color: white;
        background-color: grey;
    }}
}

.image{
width: 70%;
}