@use '../main.scss' as *;

.columnaz{
    margin: 0 !important;
}
.icon{
    font-weight: 500;
    font-size: 3rem;
&__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: solid $third-color;
    border-radius: 50%;
&:hover{
    border: lighten($third-color, 10%);
    background-color: lighten($third-color, 10%);
}
}
}
.container{
   
&__signup{
}

&__column{
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('../../images/Picture8.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative !important;
    //border: solid green !important;
}
&__text{
}
}

.text{
    &__header{
        padding: 0rem 0 1.5rem 1rem;
        color: $third-color;
        font-size: 3rem;
        font-weight: 700;
        position: relative;
&::after{
position: absolute;
bottom: 0;
left:25%;
display: flex;
content: '';
background-color: $third-color;
height: 5px;
align-self: center;
justify-content: center;
width: 50%;
}
    
    }
    &__paragraph{
        padding: 0 1rem 0 1rem;
        font-weight: 400;
        color: $third-color;
        font-size: 1rem;
    }
    color: $primary-color;
    &__button{

    &:hover{
        color: white;
        background-color: grey;
    }}
}

.image{
width: 70%;
}