@use '../../globalSass/app' as *;
.icon{
    &__video{
        color: $fourth-color;
        font-size: 2rem;
        //padding: 2rem;
    &:hover{
        cursor: pointer;
        color: lighten($third-color, 5%);
    }
    }
}

.container{
    &__column{
        display: flex !important;
        justify-content: center;
        align-items: center !important;
        border-radius: 0.25rem;
        background-color: lighten($third-color, 5%) !important;
    &:hover{
        background-color: lighten($third-color, 25%) !important;
    }
    }
    &__icon{
        border-radius: 50% !important;
        height: 4rem;
        width: 4rem;
        display: flex;
        //background-color: lighten($third-color, 5%);
        align-items: center;
        justify-content: center !important;
    }
}