@use '../../globalSass/app' as *;

.icon{
    &__phone{
       &.toggled{
           display: none;
       } 
    }
    &__message{
        display: none;

        &.toggled{
            display: flex;
            flex-direction: column;
        }
    }
}
.button{
    background-color: $sixth-color !important;
    color: $third-color !important;
    border: none !important;
    outline: none !important;
    font-weight: 700;
&:hover{
    background-color: $third-color !important;
    color: $sixth-color !important;

}
}

@mixin afterEffect {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    content: '';
    transform: rotate(-45deg);
    width: 4px;
    height: 95%;
    //border: solid lighten($third-color, 25%);
    background-color: darken(red, 10%);
    transition: all ease-in-out 0.5s;

}

.video, .mic{
    color: red;
    &.toggled{
        color: $third-color;
    }
}

.container{

&__icon{
    justify-content: flex-start;
    display: flex;
    padding: 1rem 1rem 0.75rem 0.75rem;
    border: none;
}
&__button{
    display: flex;
    justify-content: space-between;
}
&__phone{
    display: none;
    flex-direction: column;
&.toggled{
display: flex;
}
}
&__message{
    font-size: 0.75rem;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    color: whitesmoke;
}
&__iconfont{

opacity: 0.75;
display: flex;
color: whitesmoke;
justify-content: center;
align-items: center;
height: 3.5rem;
width: 3.5rem;
border-radius: 50%;
font-size: 1.5rem;
position: relative;
transition: all ease-in-out 0.5s;
&:hover{
cursor: pointer;
color: lighten($third-color, 25%);
background-color: $primary-color;
}
&:hover::after{
    @include afterEffect;
}
&.toggled, &__iconfont{
    color: $third-color;
    background-color: $primary-color;
}
&.toggled::after{
    @include afterEffect;
}
&.togglephone{
display: none;
}
}
&__iconfont:nth-child(2){
    margin: 0 1rem 0 1rem;
}
}
