@use '../../globalSass/app' as *;


.container{


&__list{
    margin: 0 0 0 0rem;
    display: flex;
    justify-content: center;
    width: 100%;
    //border: solid red !important;
    &.toggled > a{
        align-items: center;
        //background-color: $fourth-color;
        border: none;
        padding-left:2rem;
    }
    
    & > a{
        color: white;
        background-color: lighten($third-color, 10%);
    &.one{
        background-color: $primary-color !important;
        color: $third-color;
        border-radius: 0.35rem !important;
        border: solid red !important;
        box-shadow: 0 0 1px 0 $primary-color;
    }
        &:hover{
            border-radius: 0.45rem;
        background-color: darken($primary-color, 15%);
        color: $third-color;
        border: none !important;
    }
    
    }
}
}

.icon{
    color:$primary-color;
    margin: 0 1rem 0 0rem;

    &.toggled{
        color: $third-color;
    }

}