@use '../../globalSass/app' as *;


.container{


&__list{
    display: flex;
    
    justify-content: center;
    //border: solid red !important;
 
    
    & > a{
        color: white;
        background-color: lighten($third-color, 10%);
    }
        &:hover{
            border-radius: 0.45rem;
        background-color: darken($primary-color, 15%);
        color: $third-color;
        border: none !important;
    }
    
}
&__listitem{

    &:active, &:target, &:focus, &:visited{
        outline: none !important;
        border: none !important;
    }
&:hover{
    background-color: lighten($fourth-color, 10%);
}
&:hover > .icon, &:hover > .icon__name{
    color: $third-color;
}
    &.item{
        background-color: lighten($fourth-color, 5%) !important;
    &.item > .icon{
        color: $third-color;
    }
    }
}
}

.icon, .icon__name{
    color:$primary-color;
    font-weight: 600;
    margin: 0 1rem 0 0rem;
    &.toggled{
        color: $third-color;
    }
}