@use '../../globalSass/app' as *;


.nav.nav-tabs .nav-link.active{
    background-color: orange !important;
}

.tab__container{
    border: solid red;
    background-color: whitesmoke;
&__nav{
    background-color: whitesmoke;
}
}
