@use '../../globalSass/app' as *;

.container{
background-color: $third-color;
&__tabs{
    padding: 0rem 0 0rem 0;
    //border: solid red !important;
}
&__header{
    padding: 1rem 0 1rem 0;
}
}

h1{
    text-transform: capitalize;
    color: $primary-color;
}

.row{
}
.column{
    &__following{
        margin: 0.15rem 0 0.15rem 0 !important;
        display: flex !important;
        padding: 0 !important;
        //border: solid red !important;
    }
}