@use '../../globalSass/app' as *;

.container{
background-color: $third-color;
&__tabs{
    //border: solid red !important;
    //border: solid red !important;
    border-bottom: none !important;
    //margin: 0rem 0 1rem 0;
}
&__header{
    border-radius: 0.5rem !important;
    background-color: lighten($third-color, 5%);
    margin: 0.5rem 1rem 1rem 1rem !important;
}
&__profile{
    margin: 0.15rem 0 0.15rem 0 !important;
&.toggled{
}
}
}
.text{
    &__header{
        font-size: 3rem;
        letter-spacing: 2px;
        text-transform: capitalize;
        margin: 0.5rem 0 0.5rem 0;
        padding: 1rem 0 1rem 0;
        font-weight: 800;
        font-family: sans-serif;
        color: $fourth-color;
    
    }
    &__icon {
        margin: 0 0 0 0.5rem;
        font-size: 2rem;
        color: $fourth-color;
    }
}

.row{
}
.column{
    &__following{
        margin: 0.15rem 0 0.15rem 0 !important;
        display: flex !important;
        padding: 0 !important;
        //border: solid red !important;
    }
}