@use './main.scss' as *;
.column{
    &__container{
    }
}

.container{
    &__row{
        min-height: 104vh;
        position: relative;
        z-index: 5;
        background-color: lighten($fourth-color, 9%) !important;
        box-sizing: border-box;
}
&__forms{
    background-color: lighten($fourth-color, 9%) !important;
    
}
&__features{
    background-color: lighten($fourth-color, 9%) !important;

}
}
