@use './main.scss' as *;
.column {
    &__container{
    }
}

.page{
    &__heading{
        padding: 1rem;
        color: $third-color;
        font-size: 3.25rem;
        font-weight: 700;
        letter-spacing: 1.25px;
    }
    &__paragraph{
        font-weight: 400;
        letter-spacing: 1.25px;
        color: $third-color;
    }
}

.container{
    &__row{
        @media(min-width:320px){
            background-color: $third-color !important;
            border-radius: 0.5rem;
            box-sizing: border-box;
            position: relative;

        }
        @media(min-width:576px){
            background-color: $sixth-color !important;
        }
        @media(min-width: 1024px){
            min-height: 100vh;
        }
    }

    &__introduction{
        @media(min-width: 320px){
            position: relative;
            padding: 10rem 1rem 10rem 1rem;
        }
        @media(min-width: 578px){
            min-height:unset;
            padding: 5rem 1rem 5rem 1rem;
        } 
        @media(min-width: 968px){

        }
    &::after {
        border-radius: 0.75rem 0 0 0.75rem;
        background-color: $third-color;
        height: 100%;
        background-position: left;
        opacity: 0.15;
        width: 100%;
        right: 0;
        display: flex;
        content: '';
        position: absolute;
        top: 0;
}

    }

&__forms{
    //background-color: lighten($fourth-color, 9%) !important;
@media(min-width:320px){
    background-color: $sixth-color !important;
    min-height: 80vh;
    padding: 8rem 0 8rem 0;
    background-color: $sixth-color !important;

}
@media(min-width: 578px){
    
}
@media(min-width: 998px){
    min-height: 80vh;
    padding: 8rem 0 8rem 0;
    background-color: $sixth-color !important;

}
}
&__footer{
    padding: 0 !important;
    background-color: $third-color;
}

}
