@use '../../globalSass/app' as *;

.mycolumn{
    background-color: lighten($third-color, 4%);
    height: auto;
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.25rem;
    margin: 0.15rem;
    align-items: center;

    box-sizing: border-box;
    &:hover{
        transition: all ease-in-out 0.15s;
        border: solid $fourth-color 2px;
        border-radius: 0.25rem;
        background-color: lighten($third-color, 10%);
    }
}
.status{
    &__online{
        position: absolute;
        top: -2rem;
        //left: 0;
        padding: 0.15rem;
        text-transform: uppercase;
        font-size: 0.65rem;
        margin: 0 0 0.25rem 1rem;
    }
}
.testingaa{
}
.container{
    &__dropdown{
        color: $third-color !important;
        font-weight: 700 !important;
        background-color: $fourth-color !important;
        font-size: 0.75rem !important;
        margin: -0.35rem 1rem 0 0.75rem;
    &:hover, &:active, &:target, &:focus{
        color: $fourth-color !important;
        border: $third-color !important;
        background-color: $third-color !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
  
    }
    &__username{
        background-color: $third-color;
        border-radius: 0.35rem;
        color: $fourth-color;
        font-size: 0.75rem;
        padding: 0.25rem;
        text-align: center;
        position: relative;
    }
    &__online{
        transition: all ease-in-out 1s !important;
        position: absolute;
        top: -0.5rem;
        box-shadow: 0 0 3px 0 $primary-color;
        border-radius: 50%;
        right: -0.25rem;
        background-color: red;
        height: 1rem;
        width: 1rem;
    &.toggled{
        background-color: #009719 !important;
    }
    }
}
.friends{
    &__heading{
        padding: 0.35rem 0.75rem 0.35rem 0.75rem;
        border-radius: 0.35rem;
        font-size: 1rem;
        color: $third-color;
        font-weight: 600;
        background-color: lighten($fourth-color, 3%);
    }
    &__count{
        cursor: pointer;
        margin: 0 0.5rem 0 1rem;
        color: $fourth-color;
        &:hover{
            text-decoration: underline;

        }
    &:hover ~ .container__username{
        visibility: visible;
    }
    
    }
}
.notification{
    &__image{
        margin: 0.25rem 0 0.25rem 0;
        height: auto;
        clip-path: circle(40%);
        max-width: 100%;
    }
    &__text{
        color: $primary-color;
    }
}
.columnaz{
    justify-content: space-between;
    display: flex;
    margin: 0.5rem 0 0.5rem 0;
}

.request{
    &__status{
        position: absolute;
        top: 0;
        color: green;
        width: 1rem;
        height: 1rem;
        right: 0;
    }
    &__text{
    color: $primary-color;
      font-weight: 600;
    }
    &__header{
        font-size: 1rem;  
        color: $fourth-color;
    }
    &__date{
        background-color: $third-color;
        padding: 0.5rem;
        border-radius: 0.25rem;

        color: $fourth-color;
        font-size: 0.65rem;
        margin: 0.75rem 0 0 0;
        font-weight: 400;
    }
}